$aside-lr-padding: 0.7rem;

@mixin circle-button-with-icon {
    $button-size: 0.9rem;
    width: $button-size;
    height: $button-size;
    position: relative;
    background: $aside-text;
    border-radius: 50%;
    transition: background 300ms ease;
    
    &.button_primary {
        background: transparent;
        border: 2px solid $aside-text;
        
        svg {
            fill: $aside-text;
        }
        
        @media screen and (min-width: $breakpoint-lg) {
            &:hover {
                background: transparent;
                border: 2px solid $aside-menu-item-active;
                
                svg {
                    fill: $aside-menu-item-active;
                }
            }
        }
        
        &:active {
            background: transparent;
            border: 2px solid $aside-menu-item-active;
            
            svg {
                fill: $aside-menu-item-active;
            }
        }
    }
    
    svg {
        position: absolute;
        fill: $aside-primary;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 70%;
        height: 70%;
    }
    
    @media screen and (min-width: $breakpoint-lg) {
        &:hover {
            background: $aside-menu-item-active;
        }
    }
    
    &:active {
        background: $aside-menu-item-active;
    }
}

button.plus_button {
    @include circle-button-with-icon;
}

button.mark_button {
    @include circle-button-with-icon;
}

.aside_menu {
    flex: 1 1 25%;
    background: $aside-primary;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    z-index: 10;
    
    @media screen and (max-width: $breakpoint-md) {
        flex: 0 1 35%;
        min-width: 220px;
    }
    
    &__header {
        position: relative;
        width: 100%;
        max-height: 15%;
        border-bottom: 1px solid $aside-secondary;
        padding: 0.7rem $aside-lr-padding 0.6rem;
        
        .profile_card {
            @include flex-display(flex-start, flex-start, nowrap, row);
            
            &__image {
                height: 65%;
                max-height: 55px;
                max-width: 55px;
                min-width: 47px;
                
                border-radius: 7px;
                overflow: hidden;
                
                img {
                    width: 100%;
                }
            }
            
            &__info {
                color: $aside-header-text;
                
                p.name {
                    line-height: 0.65rem;
                    font-size: 0.65rem;
                }
                
                p.online {
                    font-size: 0.55rem;
                    padding-top: 0.15rem;
                    color: $aside-text;
                }
                
                &.card_info {
                    margin-left: 0.3rem;
                }
            }
        }
        
        $bar-length: 23px;
        $bar-thickness: 3px;
        
        .bars {
            display: none;
            position: absolute;
            top: 15px;
            right: -35px;
            width: $bar-length;
            height: $bar-length;
            border-radius: 50%;
            cursor: pointer;
            z-index: 20;
            
            &.is-active {
                
                span {
                    transform: rotate(-45deg);
                    
                    &:before,
                    &:after {
                        transform: translateX(0) rotate(-90deg);
                    }
                }
            }
            
            & > span {
                position: absolute;
                width: $bar-length;
                height: $bar-thickness;
                border-radius: 100px;
                transition: 0.2s ease-in-out;
                background: $aside-primary;
                top: 49%;
                
                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    will-change: transform;
                    width: $bar-length;
                    height: $bar-thickness;
                    background: $aside-primary;
                    border-radius: 100px;
                    transition: 0.2s ease-in-out;
                }
                
                &:before {
                    transform: translateY(-7px);
                }
                
                &:after {
                    transform: translateY(7px);
                }
                
            }
        }
    }
    
    @media screen and (max-width: $breakpoint-sm) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 250px;
        transform: translateX(-250px);
        
        &_active {
            transform: translateX(0);
        }
        
        &__header .bars {
            display: block;
        }
    }
    
    &__content {
        flex: 1 1 85%;
        height: 85%;
        @include flex-display(flex-start, stretch, nowrap, column);
    }
    
    &__title {
        padding: 0.3rem $aside-lr-padding 0;
        @include flex-display(space-between, center, nowrap, row);
        
        .title_info {
            
            span {
                font-size: 0.6rem;
                letter-spacing: 0.02rem;
                font-weight: bold;
                text-transform: uppercase;
                color: $aside-header-text;
            }
            
            a {
                display: block;
                color: $aside-text;
                font-size: 0.5rem;
                cursor: pointer;
                transition: color 300ms ease;
                
                @media screen and (min-width: $breakpoint-lg) {
                    &:hover {
                        color: $aside-menu-item-active;
                    }
                }
                
                &:active {
                    color: $aside-menu-item-active;
                }
            }
        }
    }
}

.menu_list {
    padding: 0.7rem 0.5rem 0 0.3rem;
    @include flex-display(flex-start, stretch, nowrap, column);
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 100%;
    
    scrollbar-width: thin;
    scrollbar-color: $aside-secondary $aside-header-text;
    
    &::-webkit-scrollbar-track-piece {
        background: $aside-secondary;
        border-radius: 3px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $aside-header-text;
        border-radius: 3px;
    }
    
    &::-webkit-scrollbar {
        display: block;
        width: 3px;
    }
    
    &__item {
        border-radius: 3px;
        width: 100%;
        color: $aside-text;
        margin-bottom: 0.3rem;
        padding: 0.3rem 0.5rem;
        cursor: pointer;
        @include flex-display(flex-start, center, nowrap, row);
        
        p {
            font-size: 0.6rem;
            font-weight: 600;
            letter-spacing: 0.02rem;
            user-select: none;
            overflow-x: hidden;
        }
        
        $svg-size: 0.65rem;
        
        svg {
            min-width: $svg-size;
            min-height: $svg-size;
            width: $svg-size;
            height: $svg-size;
            margin-right: 0.3rem;
            fill: $aside-text;
            user-select: none;
        }
        
        &_active {
            background: $aside-menu-item-active;
            color: $aside-text-active;
            
            svg {
                fill: $aside-text-active;
            }
        }
    }
    
    &__input {
        color: $aside-text;
        font-size: 0.6rem !important;
        font-weight: 600;
        letter-spacing: 0.02rem;
        min-width: 0;
        flex: 1 1 60%;
        background: transparent;
        border-bottom: 2px solid $aside-secondary;
        margin-right: 0.3rem;
        
        &::-webkit-input-placeholder {
            transition: 300ms opacity ease-in;
            font-size: 0.5rem;
            font-weight: normal;
        }
        
        &:focus {
            &::-webkit-input-placeholder {
                opacity: 0.6;
            }
        }
    }
}


