@import "null";
@import "colors";
@import "fonts";

$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin flex-display($justify, $align, $iswrap, $direction) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: $justify;
    justify-content: $justify;
    -webkit-align-items: $align;
    align-items: $align;
    flex-flow: $iswrap $direction;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

#app_container {
    width: 100%;
    height: 100%;
    background: $app-container-bg;
    @include flex-display(center, center, nowrap, row);
}

main.app_wrapper {
    flex: 0 1 70vw;
    height: 100%;
    max-height: 95vh;
    background: $app-wrapper-bg;
    border-radius: 5px;
    overflow: hidden;
    
    @include flex-display(center, stretch, nowrap, row);
    
    @media screen and (max-width: $breakpoint-lg) {
        flex: 0 1 90vw;
    }
    
    @media screen and (max-width: $breakpoint-md) {
        flex: 0 1 100vw;
        max-height: 100vh;
        height: 100vh;
        border-radius: 0;
    }
}

@import "UI_Components/Loader";
@import "UI_Components/AsideMenu";
@import "UI_Components/Messenger";

