$app-container-bg: #cecece;
$app-wrapper-bg: #fff;

$aside-primary: #05222a;
$aside-secondary: #28434c;
$aside-header-text: #dfe2e3;
$aside-text: #92999a;
$aside-text-active: $aside-header-text;
$aside-menu-item-active: #117fa4;

$messenger-container-bg: #dae8f3;
$container-main-text: #5d5d5d;

$card-bg: #ffffff;
$card-question-tip-bg: #dedede;
$card-question-tip-expectation-bg: #26b9ed;
$card-question-tip-success-bg: #59be70;

$card-main-text: $container-main-text;
$card-secondary-text: #909090;

$loader-primary: $aside-secondary;
$loader-stroke: $aside-header-text;

$linkedin-icon-color: #2867B2;
$phone-icon-color: #49bf29;
$gmail-icon-color: #F44336;
$tg-icon-color: #0088cc;
$vk-icon-color: #597da3;
$ig-icon-col-default: #d6249f;
$ig-icon-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);